<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title><%= title %></title>

    <% include partials/head.ejs %>
    <% include partials/highlight.ejs %>

    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/asciidoc.css">

    <script src="/js/main.js"></script>

</head>
<body>
<div class="container">

    <div class="contents">
        <% include ../data/adoc_convert/curriculum_basic.html %>
    </div>

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>