<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title><%= title %></title>

    <% include partials/head.ejs %>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.js"></script>

</head>
<body>
<div class="container">

    <h1>안녕하세요. <code>&lt;a&gt;</code> 입니다!</h1>
    <div class="text">
        Mon, I want to see the movie Turtle story. Did you see the trailer for it?<br>
        엄마, 나 '거북이 이야기' 영화가 보고 싶어요. 혹시 그 영화 예고편 보셨어요?<br>
        파비콘은 웹페이지에 접속했을때, 상단 탭에 보여지는 아이콘을 일컫는다. 이 아이콘은 즐겨찾기에 웹페이지를 등록할때도 사용된다. 웹사이트를 대표하는 로고(logo)의 개념과 비슷하며, 사이트의 성격을 드러내기도 한다.
    </div>
    <div style="text-align: center; padding: 50px; cursor: pointer;"><img src="http://www.herop.me/images/logo.png" alt="" title="testing..."></div>

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>