<!DOCTYPE html>
<html class="no-js" lang="ko">
<head>

    <title><%= title %></title>

    <% include partials/head.ejs %>

    <link rel="stylesheet" href="/css/main.css">

    <script src="/js/main.js"></script>

</head>
<body>
<div class="container test">

    <span class="question-num"></span>번 문제
    <p></p>
    <ol>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ol>
    <div class="answer">정답은 <span></span>번 입니다!</div>

</div>
<% include partials/google_analytic.ejs %>
</body>
</html>